name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: leafo/gh-actions-lua@v11
        with:
          luaVersion: "5.1.5"

      - uses: leafo/gh-actions-luarocks@v5
        with:
          luarocksVersion: "3.12.0"

      - name: build
        run: |
          luarocks install luacheck
          luarocks install busted

      - name: Run Luacheck
        run: luacheck .

      - name: Install StyLua
        uses: JohnnyMorganz/stylua-action@v4
        with:
          version: v2.1.0
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --check .

      - name: Run Busted Tests
        run: busted .
